// Width
$width-pc: 900px;
$width-tablet: 768px;
$width-smartphone: 480px;


// Font
$font: "Open Sans", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
$font-code: 'Source Code Pro', sans-serif;


// Background Color
$bgColor: #fff;


// Color
$color: #666;
$color-heading: #333;
$color-sub: #999;
$color-inverse: #fff;
$color-link: #888;
$color-flame: #bbb;


// Text
$fontSize: 15px;
$fontSize-blogTitle: 200%;
$fontSize-sub: 85%;

$fontSize-h1: 180%;
$fontSize-h2: 160%;
$fontSize-h3: 140%;
$fontSize-h4: 120%;
$fontSize-h5: 110%;
$fontSize-h6: 100%;

$lineHeight: 1.8;
$lineHeight-sitetitle: 1.2;
$lineHeight-title: 1.5;


// Other
$round: 8px;